@import url("https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap");

:root {
  --rosa: #FF0084;
  --fundo: #EEEEEE;
  --detalhes: #E8C48A;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo */
body {
  font-family: TikTok Sans, sans-serif;
  background-color: #EEEEEE;
  color: #333;
}

/* Navbar */
.navbar {
  background-color: #FF0084;
  color: #E8C48A;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  height: 70px;
}

.logo {
  width: 68px;
  height: 68px;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  color: #E8C48A;
}

/* Imagens principais */
.hero-images {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.hero-images img {
  height: 200px
}

/* Seções */
.categoria {
  background-color: white;
  padding: 20px;
  margin-bottom: 10px;
}

.categoria h2 {
  margin-bottom: 10px;
}

.produtos {
  display: flex;
  gap: 10px;
}

.produtos img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* Ver todos os produtos */
.ver-todos {
  background-color: white;
  padding: 20px;
  text-align: center;
}

.ver-todos img {
  margin-top: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/* Rodapé */
.footer {
  background-color: #FF0084;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  gap: 5px;
}

@media (min-width: 600px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }
}

/*utilitários*/

.translate-y-center {
  translate: 0 -50%;
  top: 50%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.gap-4 {
  gap: 16px;
}

.gap-8 {
  gap: 32px;
}
